body{
    background-color: #0a0a23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle; 
    width: 100%;
    min-height: 70vh;
    position: relative;
}

.title{
    text-align: center;
    color: white;
}
.Pal-outer-container{
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
    
}

#text-input{
    margin-bottom: 30px;
}

.container-title{
    margin-left: 20px;
    margin-right: 20px;
}